In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('Model2.csv')

In [3]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44729 entries, 0 to 44728
Data columns (total 61 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ages 18-27                            44729 non-null  int64
 1   ages 28-37                            44729 non-null  int64
 2   ages 38-47                            44729 non-null  int64
 3   ages 48-57                            44729 non-null  int64
 4   ages 58-67                            44729 non-null  int64
 5   ages 68-77                            44729 non-null  int64
 6   ages 78-87                            44729 non-null  int64
 7   ages 88+                              44729 non-null  int64
 8   workclass Federal-gov                 44729 non-null  int64
 9   workclass Local-gov                   44729 non-null  int64
 10  workclass Private                     44729 non-null  int64
 11  workclass Self-emp-inc                44729 non-null  int64
 12  workclass Self-emp-not-inc            44729 non-null  int64
 13  workclass State-gov                   44729 non-null  int64
 14  workclass Without-pay                 44729 non-null  int64
 15  education Pre-school                  44729 non-null  int64
 16  education Elementary                  44729 non-null  int64
 17  education Middle School               44729 non-null  int64
 18  education High School                 44729 non-null  int64
 19  education Some College                44729 non-null  int64
 20  education Associate Degree            44729 non-null  int64
 21  education Bachelors                   44729 non-null  int64
 22  education Masters                     44729 non-null  int64
 23  education Doctorate                   44729 non-null  int64
 24  marital-status Divorced               44729 non-null  int64
 25  marital-status Married-AF-spouse      44729 non-null  int64
 26  marital-status Married-civ-spouse     44729 non-null  int64
 27  marital-status Married-spouse-absent  44729 non-null  int64
 28  marital-status Never-married          44729 non-null  int64
 29  marital-status Separated              44729 non-null  int64
 30  marital-status Widowed                44729 non-null  int64
 31  occupation Adm-clerical               44729 non-null  int64
 32  occupation Armed-Forces               44729 non-null  int64
 33  occupation Craft-repair               44729 non-null  int64
 34  occupation Exec-managerial            44729 non-null  int64
 35  occupation Farming-fishing            44729 non-null  int64
 36  occupation Handlers-cleaners          44729 non-null  int64
 37  occupation Machine-op-inspct          44729 non-null  int64
 38  occupation Other-services             44729 non-null  int64
 39  occupation Priv-house-serv            44729 non-null  int64
 40  occupation Prof-specialty             44729 non-null  int64
 41  occupation Protective-serv            44729 non-null  int64
 42  occupation Sales                      44729 non-null  int64
 43  occupation Tech-support               44729 non-null  int64
 44  occupation Transport-moving           44729 non-null  int64
 45  race Amer-Indian-Eskimo               44729 non-null  int64
 46  race Asian-Pac-Islander               44729 non-null  int64
 47  race Black                            44729 non-null  int64
 48  race Other                            44729 non-null  int64
 49  race White                            44729 non-null  int64
 50  gender Female                         44729 non-null  int64
 51  gender Male                           44729 non-null  int64
 52  Hours-per-week 1-34                   44729 non-null  int64
 53  Hours-per-week 35-44                  44729 non-null  int64
 54  Hours-per-week 45-60                  44729 non-null  int64
 55  Hours-per-week 60+                    44729 non-null  int64
 56  Asia                                  44729 non-null  int64
 57  Europe                                44729 non-null  int64
 58  North America                         44729 non-null  int64
 59  South America                         44729 non-null  int64
 60  income                                44729 non-null  object
dtypes: int64(60), object(1)
memory usage: 20.8+ MB
None
         ages 18-27    ages 28-37    ages 38-47    ages 48-57    ages 58-67  \
count  44729.000000  44729.000000  44729.000000  44729.000000  44729.000000
mean       0.015538      0.212435      0.275817      0.247267      0.153905
std        0.123681      0.409036      0.446930      0.431428      0.360861
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      1.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000      1.000000

         ages 68-77    ages 78-87      ages 88+  workclass Federal-gov  \
count  44729.000000  44729.000000  44729.000000           44729.000000
mean       0.073040      0.017885      0.004114               0.031389
std        0.260205      0.132537      0.064006               0.174369
min        0.000000      0.000000      0.000000               0.000000
25%        0.000000      0.000000      0.000000               0.000000
50%        0.000000      0.000000      0.000000               0.000000
75%        0.000000      0.000000      0.000000               0.000000
max        1.000000      1.000000      1.000000               1.000000

       workclass Local-gov  ...  gender Female   gender Male  \
count         44729.000000  ...   44729.000000  44729.000000
mean              0.068837  ...       0.323057      0.676943
std               0.253179  ...       0.467649      0.467649
min               0.000000  ...       0.000000      0.000000
25%               0.000000  ...       0.000000      0.000000
50%               0.000000  ...       0.000000      1.000000
75%               0.000000  ...       1.000000      1.000000
max               1.000000  ...       1.000000      1.000000

       Hours-per-week 1-34  Hours-per-week 35-44  Hours-per-week 45-60  \
count         44729.000000          44729.000000          44729.000000
mean              0.146326              0.559235              0.212301
std               0.353436              0.496484              0.408941
min               0.000000              0.000000              0.000000
25%               0.000000              0.000000              0.000000
50%               0.000000              1.000000              0.000000
75%               0.000000              1.000000              0.000000
max               1.000000              1.000000              1.000000

       Hours-per-week 60+          Asia        Europe  North America  \
count        44729.000000  44729.000000  44729.000000   44729.000000
mean             0.082139      0.023005      0.016432       0.955711
std              0.274580      0.149922      0.127132       0.205739
min              0.000000      0.000000      0.000000       0.000000
25%              0.000000      0.000000      0.000000       1.000000
50%              0.000000      0.000000      0.000000       1.000000
75%              0.000000      0.000000      0.000000       1.000000
max              1.000000      1.000000      1.000000       1.000000

       South America
count   44729.000000
mean        0.002526
std         0.050200
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

[8 rows x 60 columns]

In [4]:
df.head()

,ages 18-27,ages 28-37,ages 38-47,ages 48-57,ages 58-67,ages 68-77,ages 78-87,ages 88+,workclass Federal-gov,workclass Local-gov,...,gender Male,Hours-per-week 1-34,Hours-per-week 35-44,Hours-per-week 45-60,Hours-per-week 60+,Asia,Europe,North America,South America,income
0,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,<=50K
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,<=50K
2,0,0,1,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,1,0,>50K
3,0,0,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,>50K
4,0,0,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,<=50K

In [5]:
le = LabelEncoder()
df['income'] = le.fit_transform(df['income'])

# Split data into features and target variable
X = df.drop(columns=['income'])
y = df['income']

In [6]:
X.head()

,ages 18-27,ages 28-37,ages 38-47,ages 48-57,ages 58-67,ages 68-77,ages 78-87,ages 88+,workclass Federal-gov,workclass Local-gov,...,gender Female,gender Male,Hours-per-week 1-34,Hours-per-week 35-44,Hours-per-week 45-60,Hours-per-week 60+,Asia,Europe,North America,South America
0,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0

In [7]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train a classifier (Random Forest in this case)
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier()

In [8]:
# Predict the labels for the test set
y_pred = clf.predict(X_test)

In [9]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(solver='lbfgs', random_state=1)
# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, y_train)
# Make a prediction using the testing data
test_predictions = logistic_regression_model.predict(X_test)
pd.DataFrame({'Predictions': test_predictions, 'Actual': y_test})

/Users/sandrahardman/opt/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

       Predictions  Actual
38654            0       0
43600            0       0
21610            0       0
14500            0       0
6978             0       0
...            ...     ...
34417            0       0
38939            0       0
35254            0       0
43282            0       0
2117             0       1

[8946 rows x 2 columns]

In [10]:
# Generate a classification report
report = classification_report(y_test, y_pred)
print("Classification Report:")
print(report)

Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.90      0.88      6623
           1       0.66      0.56      0.61      2323

    accuracy                           0.81      8946
   macro avg       0.76      0.73      0.74      8946
weighted avg       0.80      0.81      0.81      8946