In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.csv')

In [3]:
unique_counts = df.nunique()

In [4]:
total_values = df.size

In [6]:
print(unique_counts)

age                   74
workclass              9
fnlwgt             28523
education             16
educational-num       16
marital-status         7
occupation            15
relationship           6
race                   5
gender                 2
capital-gain         123
capital-loss          99
hours-per-week        96
native-country        42
income                 2
dtype: int64

In [8]:
columns = df.columns
print(columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [12]:
for column in columns:
    unique_values = df[column].unique()
    print(unique_values)

[25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87 86]
['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
[226802  89814 336951 ... 129912 255835 257302]
['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
[ 7  9 12 10  6 15  4 13 14 16  3 11  5  8  2  1]
['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
['Male' 'Female']
[    0  7688  3103  6418  7298  3908 14084  5178 15024 99999  2597  2907
  4650  6497  1055  5013 27828  4934  4064  3674  2174 10605  3418   114
  2580  3411  4508  4386  8614 13550  6849  2463  3137  2885  2964  1471
 10566  2354  1424  1455  3325  4416 25236   594  2105  4787  2829   401
  4865  1264  1506 10520  3464  2653 20051  4101  1797  2407  3471  1086
  1848 14344  1151  2993  2290 15020  9386  2202  3818  2176  5455 11678
  7978  7262  6514 41310  3456  7430  2414  2062 34095  1831  6723  5060
 15831  2977  2346  3273  2329  9562  2635  4931  1731  6097   914  7896
  5556  1409  3781  3942  2538  3887 25124  7443  5721  1173  4687  6612
  6767  2961   991  2036  2936  2050  1111  2228 22040  3432  6360  2009
  1639 18481  2387]
[   0 1721 1876 2415 1887  625 1977 2057 1429 1590 1485 2051 2377 1672
 1628 1902 1602 1741 2444 1408 2001 2042 1740 1825 1848 1719 3004 2179
 1573 2205 1258 2339 1726 2258 1340 1504 2559 1668 1974 1980 1564 2547
 2002 1669 1617  323 3175 2472 2174 1579 2129 1510 1735 2282 1870 1411
 1911 1651 1092 1762 2457 2231 2238  653 1138 2246 2603 2392 1944 1380
 2465 1421 3770 1594  213 2149 2824 1844 2467 2163 1816 1648 2206 2352
  419 1539  880  810  974 4356 2489 1755 3683 2267 2080  155 3900 2201
 2754]
[40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28
 16 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29
 96 21 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13
 19 98 62 66 57 11 86 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]
['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
['<=50K' '>50K']

In [15]:
for column in columns:
    vcounts = df[column].value_counts()
    print(vcounts)

age
36    1348
35    1337
33    1335
23    1329
31    1325
      ...
88       6
85       5
87       3
89       2
86       1
Name: count, Length: 74, dtype: int64
workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64
fnlwgt
203488    21
190290    19
120277    19
125892    18
126569    18
          ..
188488     1
285290     1
293579     1
114874     1
257302     1
Name: count, Length: 28523, dtype: int64
education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64
educational-num
9     15784
10    10878
13     8025
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: count, dtype: int64
marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64
occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64
relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64
race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64
gender
Male      32650
Female    16192
Name: count, dtype: int64
capital-gain
0        44807
15024      513
7688       410
7298       364
99999      244
         ...
1111         1
7262         1
22040        1
1639         1
2387         1
Name: count, Length: 123, dtype: int64
capital-loss
0       46560
1902      304
1977      253
1887      233
2415       72
        ...
2465        1
2080        1
155         1
1911        1
2201        1
Name: count, Length: 99, dtype: int64
hours-per-week
40    22803
50     4246
45     2717
60     2177
35     1937
      ...
69        1
87        1
94        1
82        1
79        1
Name: count, Length: 96, dtype: int64
native-country
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64
income
<=50K    37155
>50K     11687
Name: count, dtype: int64

In [19]:
df['age'].min()

17

In [20]:
df['age'].max()

90

In [21]:
row_count = len(df)
print(row_count)

48842

In [23]:
for index, row in df.iterrows():
    if '?' in row.values:
        df.drop(index, inplace=True)
    
print(len(df))

45222

In [24]:
for column in columns:
    vcounts = df[column].value_counts()
    print(vcounts)

age
36    1283
33    1279
31    1274
35    1272
23    1241
      ...
85       5
88       5
89       1
87       1
86       1
Name: count, Length: 74, dtype: int64
workclass
Private             33307
Self-emp-not-inc     3796
Local-gov            3100
State-gov            1946
Self-emp-inc         1646
Federal-gov          1406
Without-pay            21
Name: count, dtype: int64
fnlwgt
203488    21
120277    18
125892    18
113364    17
126569    17
          ..
152234     1
171301     1
257764     1
168312     1
257302     1
Name: count, Length: 26741, dtype: int64
education
HS-grad         14783
Some-college     9899
Bachelors        7570
Masters          2514
Assoc-voc        1959
11th             1619
Assoc-acdm       1507
10th             1223
7th-8th           823
Prof-school       785
9th               676
12th              577
Doctorate         544
5th-6th           449
1st-4th           222
Preschool          72
Name: count, dtype: int64
educational-num
9     14783
10     9899
13     7570
14     2514
11     1959
7      1619
12     1507
6      1223
4       823
15      785
5       676
8       577
16      544
3       449
2       222
1        72
Name: count, dtype: int64
marital-status
Married-civ-spouse       21055
Never-married            14598
Divorced                  6297
Separated                 1411
Widowed                   1277
Married-spouse-absent      552
Married-AF-spouse           32
Name: count, dtype: int64
occupation
Craft-repair         6020
Prof-specialty       6008
Exec-managerial      5984
Adm-clerical         5540
Sales                5408
Other-service        4808
Machine-op-inspct    2970
Transport-moving     2316
Handlers-cleaners    2046
Farming-fishing      1480
Tech-support         1420
Protective-serv       976
Priv-house-serv       232
Armed-Forces           14
Name: count, dtype: int64
relationship
Husband           18666
Not-in-family     11702
Own-child          6626
Unmarried          4788
Wife               2091
Other-relative     1349
Name: count, dtype: int64
race
White                 38903
Black                  4228
Asian-Pac-Islander     1303
Amer-Indian-Eskimo      435
Other                   353
Name: count, dtype: int64
gender
Male      30527
Female    14695
Name: count, dtype: int64
capital-gain
0        41432
15024      498
7688       391
7298       351
99999      229
         ...
22040        1
1731         1
7262         1
1639         1
2387         1
Name: count, Length: 121, dtype: int64
capital-loss
0       43082
1902      294
1977      246
1887      228
2415       68
        ...
419         1
155         1
1539        1
2201        1
1421        1
Name: count, Length: 97, dtype: int64
hours-per-week
40    21358
50     4094
45     2602
60     2085
35     1776
      ...
79        1
69        1
87        1
94        1
82        1
Name: count, Length: 96, dtype: int64
native-country
United-States                 41292
Mexico                          903
Philippines                     283
Germany                         193
Puerto-Rico                     175
Canada                          163
El-Salvador                     147
India                           147
Cuba                            133
England                         119
China                           113
Jamaica                         103
South                           101
Italy                           100
Dominican-Republic               97
Japan                            89
Guatemala                        86
Vietnam                          83
Columbia                         82
Poland                           81
Haiti                            69
Portugal                         62
Iran                             56
Taiwan                           55
Greece                           49
Nicaragua                        48
Peru                             45
Ecuador                          43
France                           36
Ireland                          36
Thailand                         29
Hong                             28
Cambodia                         26
Trinadad&Tobago                  26
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       22
Laos                             21
Scotland                         20
Honduras                         19
Hungary                          18
Holand-Netherlands                1
Name: count, dtype: int64
income
<=50K    34014
>50K     11208
Name: count, dtype: int64

In [25]:
unique_counts = df.nunique()
print(unique_counts)

age                   74
workclass              7
fnlwgt             26741
education             16
educational-num       16
marital-status         7
occupation            14
relationship           6
race                   5
gender                 2
capital-gain         121
capital-loss          97
hours-per-week        96
native-country        41
income                 2
dtype: int64

In [26]:
fnlwgt_total = df['fnlwgt'].sum()
print(fnlwgt_total)

8580184155

In [27]:
duplicate_rows = df.duplicated()
duplicate_df = df[duplicate_rows]

print("Duplicate rows:")
print(duplicate_df)

Duplicate rows:
       age         workclass  fnlwgt     education  educational-num  \
864     24           Private  194630     Bachelors               13
11189   37           Private   52870     Bachelors               13
11212   29           Private   36440     Bachelors               13
13848   30           Private  180317     Assoc-voc               11
15960   18      Self-emp-inc  378036          12th                8
18476   39           Private  184659       HS-grad                9
19399   19           Private  130431       5th-6th                3
19726   41           Private  116391     Bachelors               13
20606   25           Private  308144     Bachelors               13
21162   25           Private  308144     Bachelors               13
21385   90           Private   52386  Some-college               10
24361   21           Private  243368     Preschool                1
25452   21           Private  250051  Some-college               10
25652   23           Private  239539       HS-grad                9
26122   21           Private  301694       HS-grad                9
27912   20           Private  107658  Some-college               10
29365   25           Private  195994       1st-4th                2
30862   31           Private  228873       HS-grad                9
30971   19           Private  318822       HS-grad                9
31340   21           Private  243368     Preschool                1
33321   46           Private  173243       HS-grad                9
34148   45           Private   82797     Bachelors               13
34979   19           Private   97261       HS-grad                9
35848   47           Private  199058  Some-college               10
36767   43           Private  195258       HS-grad                9
36848   22           Private  137876  Some-college               10
37599   19           Private  138153  Some-college               10
37771   19           Private  146679  Some-college               10
38156   49           Private   31267       7th-8th                4
38255   30           Private  111567       HS-grad                9
38530   19           Private  139466  Some-college               10
38581   25           Private  195994       1st-4th                2
38648   44           Private  367749     Bachelors               13
38775   49  Self-emp-not-inc   43479  Some-college               10
40948   17           Private  153021          12th                8
41965   25           Private  112835     Bachelors               13
42153   23           Private  240137       5th-6th                3
42594   28           Private  274679       Masters               14
44201   23           Private  107882     Bachelors               13
44511   27           Private  255582       HS-grad                9
44803   42           Private  204235  Some-college               10
45127   39           Private   30916       HS-grad                9
45438   38           Private  207202       HS-grad                9
46626   23           Private  250630     Bachelors               13
47126   46           Private  133616  Some-college               10
48274   19           Private  251579  Some-college               10
48685   35           Private  379959       HS-grad                9

           marital-status         occupation   relationship  \
864         Never-married     Prof-specialty  Not-in-family
11189  Married-civ-spouse    Exec-managerial        Husband
11212       Never-married       Adm-clerical  Not-in-family
13848            Divorced  Machine-op-inspct  Not-in-family
15960       Never-married    Farming-fishing      Own-child
18476  Married-civ-spouse  Machine-op-inspct        Husband
19399       Never-married    Farming-fishing  Not-in-family
19726  Married-civ-spouse    Exec-managerial        Husband
20606       Never-married       Craft-repair  Not-in-family
21162       Never-married       Craft-repair  Not-in-family
21385       Never-married      Other-service  Not-in-family
24361       Never-married    Farming-fishing  Not-in-family
25452       Never-married     Prof-specialty      Own-child
25652       Never-married  Machine-op-inspct      Own-child
26122       Never-married       Craft-repair  Not-in-family
27912       Never-married       Tech-support  Not-in-family
29365       Never-married    Priv-house-serv  Not-in-family
30862  Married-civ-spouse       Craft-repair        Husband
30971       Never-married       Adm-clerical  Not-in-family
31340       Never-married    Farming-fishing  Not-in-family
33321  Married-civ-spouse       Craft-repair        Husband
34148  Married-civ-spouse    Exec-managerial        Husband
34979       Never-married    Farming-fishing  Not-in-family
35848  Married-civ-spouse     Prof-specialty        Husband
36767  Married-civ-spouse       Craft-repair        Husband
36848       Never-married    Protective-serv  Not-in-family
37599       Never-married       Adm-clerical      Own-child
37771       Never-married    Exec-managerial      Own-child
38156  Married-civ-spouse       Craft-repair        Husband
38255       Never-married       Craft-repair      Own-child
38530       Never-married              Sales      Own-child
38581       Never-married    Priv-house-serv  Not-in-family
38648       Never-married     Prof-specialty  Not-in-family
38775  Married-civ-spouse       Craft-repair        Husband
40948       Never-married              Sales      Own-child
41965       Never-married     Prof-specialty  Not-in-family
42153       Never-married  Handlers-cleaners  Not-in-family
42594       Never-married     Prof-specialty  Not-in-family
44201       Never-married       Adm-clerical      Own-child
44511       Never-married  Machine-op-inspct  Not-in-family
44803  Married-civ-spouse     Prof-specialty        Husband
45127  Married-civ-spouse       Craft-repair        Husband
45438  Married-civ-spouse  Machine-op-inspct        Husband
46626       Never-married              Sales  Not-in-family
47126            Divorced       Adm-clerical      Unmarried
48274       Never-married      Other-service      Own-child
48685            Divorced      Other-service  Not-in-family

                     race  gender  capital-gain  capital-loss  hours-per-week  \
864                 White    Male             0             0              35
11189               White    Male             0             0              40
11212               White  Female             0             0              40
13848               White    Male             0             0              40
15960               White    Male             0             0              10
18476               White    Male             0             0              40
19399               White    Male             0             0              36
19726               White    Male             0             0              40
20606               White    Male             0             0              40
21162               White    Male             0             0              40
21385  Asian-Pac-Islander    Male             0             0              35
24361               White    Male             0             0              50
25452               White  Female             0             0              10
25652  Asian-Pac-Islander    Male             0             0              40
26122               White    Male             0             0              35
27912               White  Female             0             0              10
29365               White  Female             0             0              40
30862               White    Male             0             0              40
30971               White  Female             0             0              40
31340               White    Male             0             0              50
33321               White    Male             0             0              40
34148               White    Male             0             0              45
34979               White    Male             0             0              40
35848               White    Male             0             0              40
36767               White    Male             0             0              40
36848               White    Male             0             0              20
37599               White  Female             0             0              10
37771               Black    Male             0             0              30
38156               White    Male             0             0              40
38255               White    Male             0             0              48
38530               White  Female             0             0              25
38581               White  Female             0             0              40
38648               White  Female             0             0              45
38775               White    Male             0             0              40
40948               White  Female             0             0              20
41965               White    Male             0             0              40
42153               White    Male             0             0              55
42594               White    Male             0             0              50
44201               White  Female             0             0              40
44511               White  Female             0             0              40
44803               White    Male             0             0              40
45127               White    Male             0             0              40
45438               White    Male             0             0              48
46626               White  Female             0             0              40
47126               White  Female             0             0              40
48274               White    Male             0             0              14
48685               White  Female             0             0              40

      native-country income
864    United-States  <=50K
11189  United-States  <=50K
11212  United-States  <=50K
13848  United-States  <=50K
15960  United-States  <=50K
18476  United-States  <=50K
19399         Mexico  <=50K
19726  United-States   >50K
20606         Mexico  <=50K
21162         Mexico  <=50K
21385  United-States  <=50K
24361         Mexico  <=50K
25452  United-States  <=50K
25652    Philippines  <=50K
26122         Mexico  <=50K
27912  United-States  <=50K
29365      Guatemala  <=50K
30862  United-States  <=50K
30971  United-States  <=50K
31340         Mexico  <=50K
33321  United-States  <=50K
34148  United-States   >50K
34979  United-States  <=50K
35848  United-States   >50K
36767  United-States   >50K
36848  United-States  <=50K
37599  United-States  <=50K
37771  United-States  <=50K
38156  United-States  <=50K
38255  United-States  <=50K
38530  United-States  <=50K
38581      Guatemala  <=50K
38648         Mexico  <=50K
38775  United-States  <=50K
40948  United-States  <=50K
41965  United-States  <=50K
42153         Mexico  <=50K
42594  United-States  <=50K
44201  United-States  <=50K
44511  United-States  <=50K
44803  United-States   >50K
45127  United-States  <=50K
45438  United-States   >50K
46626  United-States  <=50K
47126  United-States  <=50K
48274  United-States  <=50K
48685  United-States  <=50K

In [28]:
df_no_duplicates = df.drop_duplicates()
print("DataFrame without duplicate rows:")
print(df_no_duplicates)

DataFrame without duplicate rows:
       age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
5       34       Private  198693          10th                6
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation   relationship   race  gender  \
0           Never-married  Machine-op-inspct      Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing        Husband  White    Male
2      Married-civ-spouse    Protective-serv        Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct        Husband  Black    Male
5           Never-married      Other-service  Not-in-family  White    Male
...                   ...                ...            ...    ...     ...
48837  Married-civ-spouse       Tech-support           Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
48839             Widowed       Adm-clerical      Unmarried  White  Female
48840       Never-married       Adm-clerical      Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
5                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[45175 rows x 15 columns]

In [31]:
fnlwgt_total2 = df_no_duplicates['fnlwgt'].sum()
print(fnlwgt_total2)

8571450220

In [2]:
df1 = pd.read_csv('Ready_csv.csv')
df1.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Ready_csv.csv'